<div class="mt-4"
    [formGroup]="checkoutForm"
>
    <h4 class="mb-3">Choose your delivery method</h4>
    <div class="row ms-5"
        formGroupName="deliveryForm"
    >
        <div class="col-6 form-check form-group"
            *ngFor="let method of deliveryMethods"
        >
            <input class="form-check-input custom-control-input"
                type="radio" 
                (click)="setShippingPrice(method)"
                id="{{method.id}}"
                value={{method.id}}
                formControlName="deliveryMethod"
            >
            <label for="{{method.id}}" 
                class="form-check-label custom-control-label"
            >
            <strong>{{method.shortName}} - {{method.price | currency}}</strong>
            <br>
            <span class="label-description">{{method.description}}</span>
            </label>
        </div>
    </div>
</div>

<div class="float-none d-flex justify-content-between flex-column flex-lg-row mb-5 mt-4">
    <button class="btn btn-outline-primary"
        cdkStepperPrevious
    >
        <i class="fa fa-angle-left"></i> Back to Address
    </button>
    <button class="btn btn-primary"
        cdkStepperNext
        [disabled]="checkoutForm.get('deliveryForm')?.invalid"
    >
        Go to Review <i class="fa fa-angle-right"></i> 
    </button>
</div>
